@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

body {
  background: #F1FAEE;
}

.hide {
  display: none;
}

.container {
  max-width: 1064px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #8ECAE6;
  border-radius: 0px 0px 6px 6px;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 2px 6px rgba(54, 94, 125, 0.25);
          box-shadow: 0px 2px 6px rgba(54, 94, 125, 0.25);
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #1B1C1E;
}

.header-logo img {
  width: 42px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.header-logo span {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.header-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #1B1C1E;
}

.header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu__name {
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  color: #1B1C1E;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.header-menu__name::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49125 5.59998L5.26318 6.9222L10.5263 12.5889L15.7895 6.9222L14.5614 5.59998L10.5263 9.94442L6.49125 5.59998Z' fill='%23219EBC'/%3E%3C/svg%3E%0A");
}

.header-menu-list {
  position: absolute;
  top: 160%;
  right: 0;
  width: 260px;
  background: #FFF;
  border-radius: 6px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 6px rgba(54, 94, 125, 0.25);
          box-shadow: 0px 2px 6px rgba(54, 94, 125, 0.25);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.header-menu-list__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #1B1C1E;
  cursor: pointer;
}

.header-menu-list.active {
  opacity: 1;
  visibility: visible;
}

.section-main {
  padding: 20px 40px 40px;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F6F8;
  border-radius: 10px;
  gap: 5px;
}

.tab-list__item {
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #767D86;
  padding: 12px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.tab-list__item.active {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 3px 8px rgba(54, 94, 125, 0.15);
          box-shadow: 1px 3px 8px rgba(54, 94, 125, 0.15);
  color: #1B1C1E;
}

.main {
  display: none;
}

.main-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1B1C1E;
}

.main-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1B1C1E;
}

.main-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1B1C1E;
}

.main-btn {
  background: #219EBC;
  border-radius: 6px;
  padding: 12px 64px;
  border: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main-btn:hover {
  background: #3ea5be;
}

.main.active {
  display: block;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.main-header-info__img {
  width: 136px;
  height: 136px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.main-header-info-username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main-header-change {
  max-width: 400px;
  width: 100%;
}

.main-header-change-form {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main-header-change-form__label span {
  display: block;
  margin-bottom: 10px;
}

.main-header-change-form__label input {
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  height: 42px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #1B1C1E;
  width: 100%;
  outline: #8ECAE6;
}

.main-content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content-wrapper {
  max-width: 400px;
  width: 100%;
}

.main-content .main-title {
  margin-bottom: 30px;
}

.main-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.main-content-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main-content-list__item.subcribe .main-text {
  padding-left: 10px;
  position: relative;
}

.main-content-list__item.subcribe .main-text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background: #3E3E3F;
  border-radius: 50%;
}

.main.beer {
  padding: 40px;
}

.main.beer .pl20 {
  padding-left: 20px;
}

.main.beer .main-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 15px;
}

.main.beer .main-style {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.main.beer .main-btn {
  width: 100%;
  margin-top: 15px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-top: 35px;
}

.main-beer-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  overflow: hidden;
}

.main-beer-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-beer-list {
  width: 100%;
}

.main-beer-list .main-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-right: 10px;
  max-width: 164px;
  width: 100%;
}

.main-beer-list .main-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main-beer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  max-width: 100px;
  min-width: 100px;
}

.load__item {
  max-width: 100px;
  min-width: 100px;
  min-height: 22px;
  max-height: 22px;
  background: #d1d1d1;
}

.load__item .load__title {
  position: relative;
  height: 100%;
  background-color: var(--gray-400);
  z-index: 2;
}

.load__item .load__title {
  max-width: 100%;
}

.load__item .activity {
  position: absolute;
  left: -45%;
  top: 0px;
  height: 22px;
  width: 45%;
  -webkit-animation: loading 2s infinite;
  animation: loading 2s infinite;
  z-index: 2;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(251, 251, 251, 0.05)), color-stop(rgba(251, 251, 251, 0.3)), color-stop(rgba(251, 251, 251, 0.6)), color-stop(rgba(251, 251, 251, 0.3)), to(rgba(251, 251, 251, 0.05)));
  background-image: linear-gradient(to left, rgba(251, 251, 251, 0.05), rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 0.05));
  background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, 0.05), rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 0.05));
}

@-webkit-keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 992px) {
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content-wrapper {
    margin: 0 auto;
  }
  .main-content-wrapper:last-child {
    margin-top: 20px;
  }
  .main-content-wrapper:last-child .main-title {
    display: none;
  }
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-header-change {
    margin-top: 20px;
  }
  .main.beer {
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
  }
  .main.beer .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 568px) {
  .header-title {
    display: none;
  }
  .section-main {
    padding: 20px 15px;
  }
  .main-btn {
    padding: 12px 10px;
    text-align: center;
  }
  .main-beer-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-beer-list .main-subtitle {
    width: auto;
    max-width: unset;
  }
  .main.beer .main-title {
    text-align: center;
  }
  .main.beer .main-style {
    padding: 0;
    text-align: center;
  }
  .main.beer .main-text {
    text-align: center;
    white-space: unset;
  }
}
/*# sourceMappingURL=style.css.map */